#vmap {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	text-align: center;
	box-shadow: 0px 10px 10px 2px  	#292929;
}
canvas {
	box-shadow: 0px 10px 10px 2px #292929;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

body {
    background-color: #292929;
}